* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.outer-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background: #48CCAD;
}

.todo-container {
    width: 600px;
    margin: 30px auto;
    text-align: center;
    background: #E3E9ED;
}

.todo-title {
    text-transform: uppercase;
    color: #A4ABAE;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.todo-form {
    display:flex;
    width: 200px;
    margin: 0 auto;
    flex-direction:row;
    border: 1px solid grey;
}

.todo-input {
    flex-grow:2;
    border:none;
}

.todo-btn {
    border:1px solid #f368e0;
    background:#f368e0;
    color:white;
}

.todo-list-container {
    width: 200px;
    margin: 0 auto;
}

.todo-item {
    width: 200px;
    position: relative;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #A4ABAE;
    font-weight: 600;
}

li {
    text-align: left;
    position: relative;
}

.todo-item i.co,
.todo-item i.de,
#circle,
#trash{
    position: absolute;
    right: 0px;
    top: 0;
    color: #A4ABAE;
    background: none;
    border: none;
    outline: none;
}

.todo-item i.de,
#trash {
    right: 20px;
}

i.fas.fa-check-circle.co{
    color: #f368e0;
}

.lightGrey {
    color: #DBDBDB;
}

