* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.outer-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background: #48CCAD;
}

.todo-container {
    width: 600px;
    margin: 30px auto;
    text-align: center;
    background: #E3E9ED;
}

.todo-title {
    text-transform: uppercase;
    color: #A4ABAE;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.todo-form {
    display:flex;
    width: 200px;
    margin: 0 auto;
    flex-direction:row;
    border: 1px solid grey;
    
}

.todo-input {
    flex-grow:2;
    border:none;
}

.todo-btn {
    border:1px solid #f368e0;
    background:#f368e0;
    color:white;
}

.todo-list-container {
    width: 200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    color: #A4ABAE;
    font-weight: 600;
}

li {
    
    margin-bottom: 10px;
}

.fas,
.far {
    float: right;
    margin-left: 5px;
}

.completed-text {
    color: #C1D1D9;
}



.fa-check-circle.complete {
    color: #f368e0;
}

.fa-check-circle.complete.hidden,
.far.fa-check-circle.hidden {
    display: none;
}